### DP0701EN-Week3-PeerGraded Project - Part I

For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

1. Start by creating a new Notebook for this assignment.
2. Use the Notebook to build the code to scrape the following Wikipedia page, 
https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M,
in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:
3. To create the above dataframe:

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

More than one neighborhood can exist in one postal code area. 

For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 

These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

4. Submit a link to your Notebook on your Github repository.

In [3]:
import pandas as pd
from IPython.display import IFrame
import numpy as np
!pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.0)

In [4]:
#import html
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
IFrame(url, width = 800, height = 350)

In [5]:
#read dataframe from html
df, = pd.read_html(url, match = "Postcode", skiprows = 1)
df.columns = ["PostalCode", "Borough", "Neighborhood"]
df

    PostalCode           Borough           Neighborhood
0          M2A      Not assigned           Not assigned
1          M3A        North York              Parkwoods
2          M4A        North York       Victoria Village
3          M5A  Downtown Toronto           Harbourfront
4          M6A        North York       Lawrence Heights
..         ...               ...                    ...
281        M8Z         Etobicoke              Mimico NW
282        M8Z         Etobicoke     The Queensway West
283        M8Z         Etobicoke  Royal York South West
284        M8Z         Etobicoke         South of Bloor
285        M9Z      Not assigned           Not assigned

[286 rows x 3 columns]

In [6]:
#Ignore cells with a borough that is Not assigned
df = df[df["Borough"] != "Not assigned"]
df.head()

  PostalCode           Borough      Neighborhood
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor

In [7]:
#combined two rows into one row with the neighborhoods separated with a comma
df.index = np.arange(0, len(df))

df = df.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(list)

df = df.sample(frac = 1).reset_index()
df["Neighborhood"] = df["Neighborhood"].str.join(", ")

In [8]:
#If a cell has a borough but a Not assigned neighborhood, 
#then the neighborhood will be the same as the borough
for index, row in df.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
df.head()

  PostalCode           Borough                 Neighborhood
0        M4W  Downtown Toronto                     Rosedale
1        M4N   Central Toronto                Lawrence Park
2        M2P        North York              York Mills West
3        M2M        North York      Newtonbrook, Willowdale
4        M4T   Central Toronto  Moore Park, Summerhill East

In [9]:
df.shape

(103, 3)

This concludes part 1.